<h6><%= @item.sale_message %> </h6>
<br>

<h4> Product:     <%= @item.product %></h4>
<h5> Description: <%= @item.description %></h5>
<h5> Price:       <%= number_to_currency (@item.price.to_i) %></h5>
<h5> Tax:         <%= number_to_currency (@item.tax) %> </h5>
<h5> Total:       <%= number_to_currency (@item.total) %> </h5>


<%= form_tag '/orders/', method: :post do %>

  <div>
  <%= label_tag :Quantity %>
  <%= text_field_tag :Quantity %>
  </div>

  <div>
   <%= hidden_field_tag :product_id, @item.id%>
  </div>


  <div>
  <%= submit_tag 'Add To Cart!', class: "btn btn-default" %>
  </div>
<% end %>
<h6>Supplier: <%= @item.supplier.name %></h6>

<br>
<h6><%= link_to "Edit",    "/pills/#{@item.id}/edit" %></h6>
<h6><%= link_to "Delete",  "/pills/#{@item.id}", method: :delete %></h6>



